<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opps!</title>
    <!-- --------- syle css file ------------ -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/changePassword.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/exp.css') }}">
    <!-- <----------- font from google ------------ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
<!-- ------- java script -------------- -->
<script defer src="{{ url_for ('static' filename='js/exp.js') }}" type="module"></script>
<script defer src="{{ url_for ('static' filename='js/changePassword.js') }}" type="module"></script>
</head>
<body>
    <!-- --------- intro page --------- -->
    <div class="container">
                <!---------- change password ----------->
                <div class="changePassword">
                    <div class="info">
                        <h1><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg></h1>
                        <p class="warning">turn you change password it should be strong and scure!!</p>
                        <form action="">
                            <!-- -------- input pswrd --------- -->
                            <span class="password">
                                <svg id="warn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z"></path></svg>
                                <secur class="scurity"></secur>
                                <img src="{{ url_for('static' , filename='imgs/imgconfirm/lock-solid.svg') }}" alt="">
                                <input type="password" name="password" placeholder="password">
                            </span>
                            <!-- -------- input pswrd2 --------- -->
                            <span class="Confpassword">
                                <!-- img correct check of password -->
                                <svg id="checkicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                <svg id="warn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z"></path></svg>
                                <secur class="scurity"></secur>
                                <img src="{{ url_for('static' , filename='imgs/imgconfirm/lock-solid.svg') }} " alt="">
                                <input  type="password" name="password" placeholder="confirm your password">
                            </span>

                            <!-- ----------- button ---------- -->
                            <button id="send">NEXT</button>
                            <!-- <input type="submit" id="send" > -->
                        </form>
                    </div>
                    <div class="haveAccount">Don't have an account? <a href="{{ url_for('Oops.signup') }}" id="signUp">Join Now</a></div>
                </div>
    </div>
</body>
</html>